main {
    margin: 10px;
    display:flexbox;
    justify-content: center;
    align-items: center ;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 1px;
}

app-square {
    height: 100%;
    width: 100%;
}

.data {
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h3, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    font-size: large;
}
#playerx {
    padding: 10px;
    border-radius: 5px;
    background-color: Green;
    border: 1px solid gray;
    display: inline-flex;
    float: left;
}

#playero {
    padding: 10px;
    border-radius: 5px;
    background-color: Green;
    border: 1px solid gray;
    display: inline-flex;
    float: right;
}