main {
    margin: 10px;
    display:flexbox;
    justify-content: center;
    align-items: center ;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 1px;
}

app-square {
    height: 100%;
    width: 100%;
}

.data {
    text-align: center;
}

h2 {
    text-align: center;
}
#playerx {
    padding: 10px;
    border-radius: 5px;
    background-color: Green;
    border: 1px solid gray;
    display: inline-flex;
    float: left;
}

#playero {
    padding: 10px;
    border-radius: 5px;
    background-color: Green;
    border: 1px solid gray;
    display: inline-flex;
    float: right;
}